/* font-family: 'Inter', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif !important;
    scroll-behavior: smooth;
}

header,footer, .modal-price{
    background-color: #264653 !important;
}

#showcase p{
    color: #E0E0E0;
}

#showcase button,
.contact-us button,
.nav-button,
.news-button{
    padding: 0.8rem 2.5rem;
    background-color: #E76F51;
    border: none;
}

.checked{
    color: #E77C40;
}

.latest-product button{
    padding: 0.4rem 2.5rem;
    border: 1px solid #E76F51;
}

.latest-product img{
    background-color: #EEEEEE;
}